#butterfly-container {
    position: fixed;
    top: 0;
    left: -750px;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure it doesn't interfere with other elements */
    z-index: 1; /* Adjust this value to be above the background but below other content */
}

#butterfly, #gold_butterfly, #aqua_butterfly, #green_butterfly, #sunset_butterfly, #purple_butterfly, #atlas_butterfly, #forest_moth {
    position: absolute;
    width: 10vw;
    pointer-events: none;
    z-index: 2; /* Ensure it appears above the container */
}

.textbox {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px; /* Default padding for desktop */
    border-radius: 10px;
    width: 90%; /* Adjust width for smaller screens */
    max-width: 700px;
    margin: 20px auto; /* Default margin for desktop */
    text-align: center;
    backdrop-filter: blur(5px);
    color: white;
    z-index: 3; /* Ensure it appears above the butterflies */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: 20px;
    z-index: 4;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 24px; /* Adjusted font size */
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}
.sidebar a:hover {
    color: #00ff8c;
}
.sidebar a:hover::after {
    content: 'Ф';
    margin-left: 10px;
}
/* General styles */
body {
    font-family: Georgia, serif;
    font-size: 20px; /* Default font size for desktop */
    text-align: center;
    background-image: url('background.jpg'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-size: 2.5em; /* Default font size for desktop */
}
h2, h3 {
    font-size: 1em; /* Default font size for desktop */
}
h3 {
    font-style: italic;
}
.gallery-section {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    color: white;
}
.front-photo {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
.resized-photo {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10px auto;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 60%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 60%);
    text-align: center;
}

#aboutus  {
    text-align: center;
}
html {
    scroll-behavior: smooth;
}
.button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #0056b3;
}
.onlineshop {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
.slideshow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 800px;
    margin: auto;
}
.scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* Hide vertical scrollbar */
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 90%;
    max-width: 600px;
    padding: 10px;
    height: 320px; /* Set a fixed height to fit the content */
    scrollbar-width: thin;
    scrollbar-color: #888 #111;
}
.scroll-container::-webkit-scrollbar {
    height: 8px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
.scroll-container::-webkit-scrollbar-track {
    background: #111;
}
.gallery-item{
    width: auto;
    height: 100%; /* Ensure images fit within the container height */
    margin-right: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    object-fit: cover; /* Ensure images maintain their aspect ratio */
}
.gallery-item:hover {
    transform: scale(1.1);
}
button.prev, button.next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 50%;
}
button.prev {left: -40px; }
button.next {right: -40px;}
button.hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Structure */
#imageModal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#imageModal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#imageModal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#imageModal .close:hover,
#imageModal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#imageModal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.social-link {
    font-size: 24px; /* Makes the hyperlinks larger */
    color: #ffffff; /* Changes link color */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Makes text bold */
    transition: color 0.3s ease, transform 0.2s ease;
}

.social-link:hover {
    color: #00ff8c; /* Changes color on hover */ 
}
.social-link:hover::after {
    content: 'Ф';
    margin-left: 10px;
}
.question {
    font-style: italic;
    text-align: left;
    font-weight: bold;
}
.answer {
    text-align: left;
}
/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    body {
        font-size: 4vw; /* Responsive font size for mobile */
    }

    h1 {
        font-size: 6vw; /* Responsive font size for mobile */
    }

    h2, h3 {
        font-size: 5vw; /* Responsive font size for mobile */
    }

    .textbox {
        padding: 5vw; /* Responsive padding for mobile */
        margin: 5vw auto; /* Responsive margin for mobile */
    }

    .sidebar {
        position: fixed;
        width: 100%;
        height: auto;
        padding: 10px;
        z-index: 4;
        display: none; /* Hide sidebar by default */
    }

    .sidebar.show {
        display: block; /* Show sidebar when toggled */
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar li {
        margin-bottom: 5px;
    }

    .sidebar a {
        font-size: 4vw; /* Adjust font size for smaller screens */
        padding: 10px;
    }

    .container {
        margin-top: 20px; /* Add some margin to avoid overlap */
    }

    .front-photo, .resized-photo, .onlineshop {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .nav-button {
        display: block; /* Show button on mobile */
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        z-index: 1000;
        backdrop-filter: blur(5px);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .nav-button:hover {
        color: #00ff8c;
    }

    .nav-button:hover::after {
        content: 'Ф';
        margin-left: 5px;
    }
}

.nav-button {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    backdrop-filter: blur(5px);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-button:hover {
    color: #00ff8c;
}
.nav-button:hover::after {
    content: 'Ф';
    margin-left: 5px;
}
